.navbar-top {
  min-height: 12px;
  margin-bottom: 0px;
}

.navbar-top h6 span {
  padding-right: 0.75em;
  padding-left: 0.75em;
  border-left: 1px solid #333;
  height: 100%;
}

.navbar-bottom {
  padding-top: 2px;
  padding-bottom: 2px;
}

.glyphicon {
  font-size: 24px;
  margin-bottom: 6px;
}

.button-bar {
  text-align: center;
}

#game {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #C3D3FA;
}

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}

.county-popover {
  background-color: rgba(255, 255, 255, 0.75);
}

.county-popover dl {
  margin-bottom: 0px;
  width: 280px;
}

.dl-horizontal dt {
  text-align: left;
}