.navbar-top {
  min-height: 12px;
  margin-bottom: 0px;
}

.navbar-top > h6 > span {
  padding-right: 0.75em;
  padding-left: 0.75em;
  border-left: 1px solid #333;
  height: 100%;
}

#hud-buttons {
}

#hud-buttons .btn {
  border-radius: 20px;
  width: 80px;
  height: 80px;
  margin-bottom: 4px;
  white-space: normal;
} 

.form-horizontal .form-group {
  margin-top: 10px;
  margin-right: 0px;
}

.glyphicon {
  font-size: 24px;
  margin-bottom: 6px;
}

.button-bar {
  text-align: center;
}

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

#religion-name-input {
  display: inline;
  width: 160px;
  text-align: center;
  border: 0px;
  border-bottom: 1px dashed #aaa;
  color: #333;
}

#game {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #C3D3FA;
}

.bishop-container {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 160px;
  height: 120px;
  position: relative;
  margin-bottom: 10px;
}

.bishop-img {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.bishop-img img {
  max-height: 80%;
  max-width: 80%;
}

.btn-add-bishop {
  white-space: normal;
  border-radius: 40px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}

.info-popover {
  background-color: rgba(255, 255, 255, 0.75);
}

.info-popover dl {
  margin-bottom: 0px;
  width: 280px;
}

.dl-horizontal dt {
  text-align: left;
  width: 140px;
}

.dl-horizontal dd {
  margin-left: 160px;
}

.dl-compact dt {
  width: 140px;
}

.dl-compact dd {
  margin-left: 160px;
}